/* 
taco bell official hex colors- found at https://usbrandcolors.com/taco-bell-colors/


dark purple: #702082
light purple: #A77BCA
 */


 .cta{
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/********** call-to-action button **********/

.btn-box{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-color{
    background-color: #702082;
    color: black;
    
}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-color::after{
    background-color: #702082;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn-animated{
    animation: moveInBottom .5s ease-out 1s;
    animation-fill-mode: backwards;
}