/* this is apparently the taco bell font that I found on the web, i think it kinda looks stupid tbh but we're using it for the brand */

@font-face {
    font-family: "tacobell";
    src: local("tacobell"),
      url("./fonts/tacobell.ttf") format("truetype");
    font-weight: normal;
  }
