/* this is the taco bell font i found on the web, i think it looks a little tacky but used it to show my ability to find & implement fonts from the internet */

@font-face {
    font-family: "tacobell";
    src: local("tacobell"),
      url("./fonts/tacobell.ttf") format("truetype");
    font-weight: normal;
  }
